frontend/** linguist-vendored=true

frontend/app/** linguist-vendored=false

package-lock.json linguist-vendored=true
frontend/package-lock.json linguist-vendored=true

# frontend/components/** linguist-vendored=false
